{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block body %} 
<form action="/contact/" method="POST" class="row g-3 needs-validation" novalidate>
{% csrf_token %}
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="validationCustom01" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control"  name = "email"  id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please Enter your Email.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Phone No.</label>
      <input type="text" class="form-control" name="phone" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
   
    <div >
      <label for="validationCustom05" class="form-label">Description</label>
      <input type="textarea" class="form-control" name='desc' id="validationCustom05" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>

    
    
    <div class="py-2">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>

  {% endblock body %}